$color-primary: #61b0ff;
$color-primary-light: #e6edf5;

$color-grey-dark: #e6e3e3;
$color-grey-light: #f6f6f6;
$color-grey: #808080;
$bg-white: #fffffe;

$color-green-light: #02500242;
$color-red-light: #ff000042;

.files{
    .headers{
        .card-header{
            &:nth-child(2){
                border-bottom: none !important;
            }
            
            .actions{
                gap: 1rem;
                & > *{
                    border-radius: .5rem;
                    font-weight: 300 !important;
                    padding: 1rem;
                    background-color: $color-primary-light;
                }
            }
        }
    }
    .table{
        color: $color-grey;
        padding: 0rem 1.5rem;
        table{
            // border: 1px solid black;
            width: 100%;
            border-collapse: collapse;
            tr{
                th{
                    text-transform: uppercase;
                    text-align: center;
                    padding: 2rem 0;
                }
                td{
                    text-align: center;
                    padding: 1rem 0rem;
                    div{
                        gap: 2rem;
                        .picture{
                            width: 4rem;
                            border-radius: 100%;

                        }
                        .icon{
                            color: $color-primary;
                            &:hover{
                                color:$color-grey;
                            }
                        }

                    }
                }
                &:nth-child(even){
                    background-color: $color-grey-light;
                }
                &:nth-child(odd){
                    background-color: $bg-white;
                }
            }

        }
    }
}