.tutor-request{

    // .accept-request{

    // }
    .send-request{
        margin-top: 3rem;
    }
    .reddit{
        margin: 0rem;
        padding: 0rem;
    }
    .card-header{
        margin: 0rem 1.5rem;
    }
    .icon{
        margin-right: 1rem;
    }
}