$color-primary: #61b0ff;
$color-primary-light: #e6edf5;

$color-grey-dark: #e6e3e3;
$color-grey-light: #f6f6f6;
$color-grey: #808080;
$bg-white: #fffffe;

.comming-soon{
    margin-top: 2rem;
    .logo-pic{
        height: 30rem;
        width: 40rem;
        border-radius: .4rem;
        background-color: $color-grey-dark;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .text{
        color: $color-grey;
    }
    .timeline{
        margin-top: 3rem;
        & > div{
            height: 13rem;
            width: 14rem;
            border-radius: .4rem;
            background-color: $bg-white;
            box-shadow: .5px .5px 5px #21212155;;

            .value{
                font-size: 4.5rem;
                color: $color-primary;
            }
            .text{
                text-transform: uppercase;
            }
        }
    }
    .subscribe{
        margin-top: 6rem;
        input{
            padding: 1rem;
            font-size: 1.6rem;
            color: $color-grey;
            outline: none;
            border: none;
            border-bottom: 1px solid $color-primary;
            background-color: inherit;
        }
    }
}
