.flex{
    display: flex;
    &-width--sm{
        width: 10%;
    }
    &-width--sm-md{
        width: 25%
    }
    &-width--md{
        width: 30%;
    }
    &-width--lg{
        width: 68.5%;
    }
    &-width--sm-xl{
        width: 75%;
    }
    &-width--xl{
        width: 80%;
    }

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.justify{
    justify-content: center;
}
.justify--between{
    justify-content: space-between;
}
.align{
    align-items: center;
}

//for space
.gap-3{
    gap: 3rem;
}
.gap-2{
    gap: 2rem;
}
.gap-1{
    gap: 1rem;
}
