$color-primary: #61b0ff;
$color-primary-light: #e6edf5;

$color-grey-dark: #e6e3e3;
$color-grey-light: #f6f6f6;
$color-grey: #808080;
$bg-white: #fffffe;

.btn{
    padding: 1rem 2rem;
    background-color: $color-primary;
    color: $bg-white;
    border-radius: .2rem;
    transition: all .3s;
    font-size: 1.8rem;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    display: block;
    text-align: center;
    &-long{
        width: 90%;
    }
    &:hover{
        background-color: darken($color-primary, 10%);
    }

    &-grey{
        background-color: darken($color-grey, 20%);
        &:hover{
            background-color: lighten($color-grey, 5%);
        }
    }
    &-green{
        background-color: rgba(1, 109, 1, 0.428);
        &:hover{
            background-color: darken(rgba(1, 109, 1, 0.428), 5%);
        }
    }
    &-red{
        background-color: rgba(240, 1, 1, 0.428);
        &:hover{
            background-color: darken(rgba(240, 1, 1, 0.428), 5%);
        }
    }
    &-primary{
        background-color: $color-primary;
        &:hover{
            background-color: darken($color-primary, 10%);
        }
    }
    &-primary-light{
        background-color: lighten(#88bff598, 15%);
        color: $color-primary;
        &:hover{
            background-color: lighten(#88bff598, 15%);
        }
    }
    &-purple{
        background-color: #e40ae4;
        &:hover{
            background-color: rgba(#e40ae4, 40%);
        }
    }
    
}
.primary-header{
    font-size: 4rem;
    text-transform: capitalize;
}

.mg-bt-sm{
    margin-bottom: 2rem !important;
}