$color-primary: #61b0ff;
$color-primary-light: #e6edf5;

$color-grey-dark: #e6e3e3;
$color-grey-light: #f6f6f6;
$color-grey: #808080;
$bg-white: #fffffe;

.card-header{
    justify-content: space-between;
    // border: 1px solid red;
    padding: 2rem;
    border-bottom: .001rem solid lighten($color-grey, 45%);

    &--item{
        text-transform: capitalize;
    }
    .title{
        font-size: 1.8rem;
    }
    .action{
        font: 1rem;
        font-weight: bolder;
        letter-spacing: .3rem;
        cursor: pointer;
    }

}