$color-primary: #61b0ff;
$color-primary-light: #e6edf5;

$color-grey-dark: #e6e3e3;
$color-grey-light: #f6f6f6;
$color-grey: #808080;
$bg-white: #fffffe;

.profile-video{
    height: 22rem;
    width: 30rem;
    background-color: $color-grey-dark;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    video, iframe{
        height: 100%;
        width: 100%;
        border: none;
    }

    .actions{
        position: absolute;
        z-index: 2;
        gap: 2rem;
        transition: all .4s ease-out;
    }
    .pic-actions {
        top: 2rem;
        right: 2rem;
        padding: 1rem;
        border-radius: .3rem;
        background-color: $bg-white;
        opacity: 0;
        & > span{
            color: $color-primary;
            cursor: pointer;
            &:hover{
                color: $color-grey;
            }
        }
    }
    .reactions{
        background-color: rgba(darken($color-grey, 20%), .4);
        bottom: 0rem;
        left: 0rem;
        width: 100%;
        height: 0rem;
        padding: 0rem 2rem;

        & > span{
            display: none;
            color: $bg-white;
        }
    }

    &:hover{
        .pic-actions{
            opacity: 1;
        }
        .reactions{
            height: 5rem;
            padding: 1.5rem 2rem;

            & > span{
                display: inline;
            }
        }

    }
}